<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Fix Handle From Line</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.RTypography.FixHandleFromLine</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Fix Handle From Line</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/r-typography/fix-handle-from-line/blob/master/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/r-typography/fix-handle-from-line</string>
	<key>productReleaseNotes</key>
	<string>PlugIn for glyphs</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, RTypography, 2019</string>
	<key>NSPrincipalClass</key>
	<string>FixHandleFromLine</string>
	<key>PyMainFileNames</key>
	<array>
		<string>../MacOS/main.py</string>
	</array>
</dict>
</plist>
